<div class="movie-info-container">
  <div class="movie-header">
    <h1><%= @movie.title %></h1>
  </div>

  <div class="movie-profile-pic-container">
    <img src="<%=@movie.image %>" class='movie-profile-pic' alt="<%=@movie.title %>" />
  </div>

  <div class="movie-description-container">
    <p class="movie-description">
      <%= @movie.description %>
    </p>
  </div>
</div>
