<div class="all-movies-container">
  <% @movies.each do |movie| %>
    <div class='movie-image-container'>
      <img src= '<%= movie.image %>' class='movie-image' alt= '<%= movie.title %>' />
    </div>
  <% end %>
</div>
