<h1> <%= @user.name %>'s Profile </h1>

<p>User Since: <%= @user.created_at.strftime("%Y-%m-%d") %></p>

<h2>Your Ratings</h2>

<h4>Most Recently Rated</h4>
<table>
  <tr>
    <% @user.reviews.limit(5).sort { |a,b| b <=> a }.each do |review| %>
      <td> <%= link_to(review.title, movie_review_path(review.movie, review)) %><br><img src="<%= review.movie.image %>" alt="Movie Poster" style="width:205px;height300px">  </td>
    <% end %>
  </tr>
</table>
