.all-movies-container{
  display: flex;
  width: 900px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  padding-top: 100px;
}


.movie-image-container{
  width: 200px;
  border: 3px solid black;
  margin-top: 30px;
}

.movie-image{
  width: 200px;
}

.movie-profile-pic{
  width: 300px;
}

.movie-description-container{
  width: 700px;
  float: right;


}

.movie-description{
  margin-top: 0px;
}

.movie-profile-pic-container{
  width: 300px;
  float: right;
}

.movie-header{
  text-align: center;

}
