.indiv-review-box {
  width:650px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
}
.review-body {


}

.review-author {
  margin-top: 10px;
}

.review-score {

}
