/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .main-section {
   width: 900px;
   padding-top: 150px;
 }
header{

  font-family: Helvetica Neue;
  font-size: 14px;
  margin: auto;
  width: 900px;
  line-height: 145%;
}

body {
  font-family: Helvetica Neue;
  font-size: 14px;
  margin: auto;
  width: 900px;
  line-height: 145%;
  height: 1000px;
}

#vote-button-links {
    list-style-type: none
}

a {
  text-decoration: none;
}

.nav-bar {
  width: inherit;
  height: 120px;
  background: #c90404;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  border-radius: 3px;
}


.logo {
  padding: 15px;
  width: 300px;
  background: pink;
}

/**/
#logo_nav {
  width: 250px;
  height:120px;
  background-color: #c90404;
  position:fixed;
  top:0;
}

table {
  margin-top: 48px;
}

.nav-buttons {

}

.nav-buttons > a {
  font-size: 16px;
  padding: 10px;
  color: white;
}

.nav-buttons > a:hover {
  background: white;
  color: black;
}

.under-nav-bar {
  padding-top: 140px;
}


.genre-select{
  width: 400px;
  height: 20px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

select#movie_genre_name{
  width:300px;
  font-size: 17px;
  border: none;
}

.genre-select-button{
  width: 300px;
}

.new-movie-buttons {
  width: 380px;
  background: #c90404;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  color: white;
}

.new-movie-buttons a:link {
  text-decoration: none;
}




.error {
  color: red;
  font-size: 15px;

}
