.all-movies-container {
  display: flex;
  width: 900px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  padding-top: 125px;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.movie-score-container {
  width: 200px;
  padding-left: 25px;
}


.movie-image-container{
  width: 200px;
  border: 1px solid gray;
  margin-top: 30px;
}

.movie-image{
  width: 200px;
}

.movie-profile-pic{
  width: 300px;
}

.movie-description-container{
  width: 500px;
  // float: right;
  display: inline-block;
  border-bottom: 2px solid gray;
}

.movie-description{
  margin-top: 0px;
}

.movie-profile-pic-container{
  width: 300px;
  float: right;
  display: inline-block;
}

.movie-header{
  text-align: center;

}


.new-movie-form-container {
  margin: auto;
  margin-top: 15px;
  border: 1px solid #cfcfd1;
  text-align: left;
  padding: 30px;
  width: 450px;
  font-size: 15px;
  padding-right: 50px;
  padding-left: 50px;
}

.new-movie-info-container {
  margin: auto;
  margin-top: 15px;
  border: 1px solid #cfcfd1;
  text-align: left;
  padding: 30px;
  width: 500px;
  font-size: 15px;
  padding-right: 50px;
  padding-left: 50px;
}
