.indiv-review-box {
  width:650px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
}
.review-body {
  
}

.review-author {
  margin-top: 10px;
}

.review-score {

}

.indiv-comment-container{
  margin-top: 50px;
  background-color: #f2f2f2;
  width: 650px;
  padding: 15px;

}

.comment-body{
  margin-bottom: 10px;
}

.new-comment-container{
  margin-top: 20px;
  margin-bottom: 130px;
  width: 650px;

}

textarea#comment_body {
  width: 650px;
  height: 100px;
}


/*------new review -----------------*/

#review_title {
  width: 400px;
}

#review_body {
  width: 400px;
  height: 300px;
}
