.indiv-review-box {
  width:500px;

}

table {
  margin-top: 0;
}
.review-all-title {
  border-bottom: 2px double black;
  width: 200px;
}

.reviews-container {
  width: 500px;
}
.voting {
  float: right;
}

.review-title > a {
  color: darkgray;
  font-size: 20px;
  padding-bottom: 0;
}
.review-body {
  width: 550px;
}

.tomato-icon {
  display: inline-block;
}

.review-author {
  margin-top: 10px;
  display: inline-block;
  height: 20px;
  margin-bottom: 1%;
}

.review-score {
  margin-top: 0;
  font-size: 15px;
  color: gray;
}

.indiv-comment-container{
  margin-top: 50px;
  background-color: #f2f2f2;
  width: 650px;
  padding: 15px;

}

.comment-body{
  margin-bottom: 10px;
}

.new-comment-container{
  margin-top: 20px;
  margin-bottom: 130px;
  width: 650px;

}

textarea#comment_body {
  width: 650px;
  height: 100px;
}
.vote-container {
  display: inline-block;
  float: right;
  text-align: center;
}

/*------new review -----------------*/

#review_title {
  width: 400px;
}

#review_body {
  width: 400px;
  height: 300px;
}
